<div class="embed-responsive embed-responsive-4by3">
	<div class="col-sm-4 text-center">
		<img class="albumCover" src="./img/iwontbow.png" ng-click="bow()"/>
	</div>
	<div class="col-sm-4 text-center">
		<img class="albumCover" src="./img/justme.png" ng-click="justMe()"/>
	</div>
</div>
	<!-- <div class="embed-responsive embed-responsive-4by3">
		<div>
			<iframe src="https://embed.spotify.com/?uri=spotify:album:6cW3fCv5OsAF8zgqaujXhJ&theme=black" frameborder="0" allowtransparency="true"></iframe>
		</div>
		<div>
			<iframe src="https://embed.spotify.com/?uri=spotify:album:2cv9Gza3HSFY7BejhOiOZn&theme=black" frameborder="0" allowtransparency="true"></iframe>
		</div>	
	</div> -->